.profile{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profileItem{
  margin-bottom: 15%;
}

#profileImg{
  border-radius: 70%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.btn{
  width: 100px;
}

#editbtn:active{
  background-color: rgb(201, 201, 201);
}

#deletebtn:active{
  background-color: rgb(255, 47, 47);
}

#sidebar{
  .sidebar{
    position: fixed;
    top: 30%;
    margin-left: 20px;
  }

  .nav-link{
    margin-bottom: 30%;
    font-size: 20px;
  }

}
